 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 body{
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
 }

 .main{
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;  
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, .3);
 }

 .main .left{
    position: relative;
    background: cadetblue;
    padding: 40px;
 }

.profiletext{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-bottom: 1px solid black;
}

.profiletext .profileimg{
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   overflow: hidden;
}

 .profiletext .profileimg img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

.profiletext h2{
   color:  white;
   font-size: 1.5em;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center 1.4em;
   font-weight: 600; 1.4rem
   line-height: 1.4em;
}

.profiletext h2 span{
   font-size: .7em;
   font-weight: 300;
}

.info{
   padding: 40px;
}

.title {
   color: white;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: .4px; 20px
   margin-bottom: 20px;
}

.info ul{
   position: relative;
}

.info ul li{
   position: relative;
   list-style: none;
   margin: 10px 0;
   cursor: pointer;
}

.info .infoeducation li{
   margin-bottom: 15px;
}

.info .infoeducation h5{
   color: brown;
   font-weight: 500;
}

.info .infoeducation h4:nth-child(2){
   color: white;
   font-weight: 500;
}

.info .infoeducation h4{
   color: white;
   font-weight: 300;
}

.percentclass{
   width: 85%;
}

.infolanguage .percent{
   position: relative;
   width: 100%;
   height: 6px;
   background-color: white;
   display: block;
   margin-top: 5px;
}

.infolanguage .percent .percentclass{
position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: brown;
}

.skilllevel .skillbar{
   width: 92%;
}

.main .right{
   position: relative
   background: whitesmoke;
   padding: 40px;
}

.about{
   margin-bottom: 50px;
}

.about:last-child{
   margin-bottom: 0px;
}

.title2{
   color: cornflowerblue;
   text-transform: uppercase;
   margin-bottom: 10px;
}

p{
   color: brown;
}

.about .box{
   display: flex;
   flex-direction: row;
   margin: 20px 0;
}

.about .box .yearcompany{
   min-width: 150px;
}

.about .box .yearcompany h5{
   text-transform: uppercase;
   color: gray;
   font-weight: 600;
}

.about .box .text h4{
   text-transform: uppercase;
   color: teal;
   font-size: 16px;
}

.aboutskills .box{
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 150px 1fr;
   justify-content: center;
   align-items: center;
}

.box h4{
   text-transform: uppercase;
   color: gray;
   font-weight: 500;
   font-size: 30px;
}

.aboutskills .box .skilllevel{
   position: relative;
   width: 100%;
   height: 10px;
   background: coral;
}

.skilllevel .skillbar{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background-color: teal;
}

.aboutinterest ul{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}

.aboutinterest{
   list-style: none;
   color: gray;
   font-weight: 500;
   margin: 12px 0;
}

